@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: rgb(10, 10, 10);
    color: white;
}


/* Width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b86704;
  }
  